* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

p {
    color: #ffff;
    padding: 5%;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
}

span {
    color: gray;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: #ffff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

.content {
    position: absolute;
    top: 60%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: rgba(105, 99, 105, 0.8);
    letter-spacing: 2px;
    font-size: 20px;
}



img {
    height: 80px;
}

.socialMedia {
    background-color: #7973732d;
    border-radius: 54px;
}

a:visited {
    color: #ffff;
}

.content-2 {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    margin: 0px 0px 0px 3%;
}

.content-2 div {
    margin-left: 20%;;
}

.content div a {
    color: #ffff;
    font-weight: bold;
    font-size: 20px;
}

.content {
    display: grid;
    grid-template-columns: auto 20%;
    align-items: center;
}

.pfp {
    margin: 0px 0px 50% 0px;
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

a {
    text-decoration: none;
    color: #ffff;
}

a:active {
    color: #000000;
}

a:visited {
    color: #ffffff;
}

#About {
    margin: 50% 0px 0px 0px;
}

#Service {
    margin: 40% 0px 0px 0px;
}

#Contacts {
    margin: 40% 0px 20% 0px;
    padding: 0px 0px 0px 0px;
}
.fixed{
    position: fixed;
    top: 1%;
    width: 100%;
    z-index: 1;
    background-color: #0000006f;
}

footer p{
    text-align: center;
}